[submodule "data/external"]
	path = data/external
	url = git@git:config/salt-data.git

[submodule "priv"]
	path = priv
  url = git-priv@git:config/salt.git

[submodule "extentions"]
	path = extentions
  url = git@git:config/salt-extentions.git

[submodule "formulas/jenkins-formula"]
	path = formulas/jenkins-formula
	url = https://github.com/saltstack-formulas/jenkins-formula.git
