{% set vim = salt['grains.filter_by'](
  {
    'default': {
      'pkg': 'vim',
      'paths': {
        'vimrc': '/etc/vim/vimrc'
      }
    }
  },
  merge=salt['pillar.get']('vim:lookup'),
  default='default'
) %}
