{% set vim = salt['grains.filter_by'](
  {
    'default': {
      'pkg': 'vim',
      'paths': {
        'autoload': '/usr/share/vim/vimfiles/autoload',
        'bundles': '/usr/share/vim/vimfiles/bundle',
        'vimrc': '/etc/vim/vimrc'
      }
    }
  },
  merge=salt['pillar.get']('vim:lookup'),
  default='default'
) %}
